# IntelliJ IDEA
.idea/
*.iml

# Build directories
out/
target/
build/

# Compiled files
*.class

# Logs
*.log

# OS files (Mac)
.DS_Store

# Temporary files
*.tmp
*.swp

# Maven
.mvn/
!mvnw
!mvnw.cmd

# Gradle
.gradle/